.notification {
  position: absolute;
  bottom: 105px;
  left: 40px;

  width: 366px;
  height: 540px;
  background-color: #fff;
  border-radius: 37px;
  box-shadow: 0px 4px 32.7px 0px rgba(0, 0, 0, 0.11);

  padding: 23px 14px 14px 9px;

  &-title {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding-left: 20px;
  }

  &__card {
    width: 325px;
    height: 100px;
    border-radius: 16px;

    padding: 22px 17px 12px 13px;

    margin-bottom: 7px;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      background-color: #f7f7f7;
    }

    &--add {
      height: 150px;
    }

    &-top {
      display: flex;
      justify-content: space-between;

      &--text {
        flex-direction: column;
      }
    }

    &-title {
      color: var(--Primary, #dc1720);
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      text-align: left;
    }

    &-description {
      color: #868686;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      text-align: left;
    }

    &-container {
      overflow-y: scroll;
      height: 479px;
    }

    &-buttons {
      justify-content: flex-end;
      gap: 9px;

      display: none;

      &--block {
        display: flex;
        margin-top: 15px;
      }
    }
  }
}

@media (max-width: 768px) {
  .notification {
    position: fixed;
    bottom: auto;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
    padding: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

    &__card {
      width: 100%;
      bottom: 100px;
    }
  }
}
