.thanks {
  position: relative;
  font-family: Jost;
  text-align: center;



  border-radius: 37px;

  background: #fff;




  @include onTablet {
    bottom: 700px;

    width: 502px;
    height: 607px;
  
    left: -30%;
  }

  @include onDesktopSmall {
    left: -60%;
  }

  @include onDesktopBig {
    left: -100%;
  }

  &__close {
    margin-top: 25px;
    position: absolute;
    right: 33px;

  }

  &__container {
    padding: 96px 48px 81px 58px;
  }

  &-title {
    font-size: 32px;
    color: $Primary;
    line-height: 40px;
    font-weight: 500;
    margin-bottom: 34px;
  }

  &-text {
    color: $Black;
    font-size: 16px;
    line-height: 200%;

    &--gray {
      color: $G3;
    }

  }

  &-button {
    width: 317px;
  }
}