@tailwind base;
@tailwind components;
@tailwind utilities;




/* .welcome-background {
  background-image: url('./assets/background.png');
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

} */