.logo {
  display: none;

  width: 54px;
  height: 54px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  background-image: url('./assets/logo.svg');
  position: fixed;
  top: 21px;
  left: 26px;

  @include onTablet {
    display: block;
  }

  @include onDesktopSmall {
    width: 84px;
    height: 84px;
  }

  &--character {
    display: block;
    width: 64px;
    height: 64px;
    left: 18px;
    top: 16px;
  }
}
