$Primary: #DC1720;
$PrimaryD: #9A101B;
$PrimaryL1: #FFC6CA;
$PrimaryL2: #FF8D96;

$Secondary: #FFCD61;
$SecondaryD: #B39E44;
$SecondaryL1: #FFF8D8;
$SecondaryL2: #FFF0B0;


$G1: #E8EBEF;
$G2: #B6BAC4;
$G3: #979EA9;
$G4: #5B6179;
$G5: #30374D;

$W: #fff;
$Black: #030D2E;
$Green: #B0C147;
